<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<div th:replace="fragments :: page-header-logged-in"></div>

<form method="post">

        <th:block th:each="recipe : ${recipes}">
            <div class="form-group">
                <label>
                    <span th:text="${recipe.name}"></span>
                    <input type="checkbox" name="recipeIds" th:value="${recipe.id}" />
                </label>
            </div>
        </th:block>

    <input type="submit" value="Delete"  class="btn btn-danger"
           onclick="if(!(confirm('Are you sure you want to delete this recipe?'))) return false"/>

</form>

</body>
</html>